@model PostDto

@{
    ViewData["Title"] = "Post Blog Page";
}

<div class="container">
    <div class="card h-100 w-100">
        <div class="card-body rounded-bottom">
            <div class="Heading">
                <a href="@Url.Action("GetPost", "Post", new {slug = Model.Slug })">@Model.Topic</a>
            </div>
            <section class="card-text text-muted" style="font-family: Lora, serif">
                <span class="fa fa-thumbtack" style="margin-right: 3px"></span>
                Published On:
                <i class="fa fa-calendar" style="margin-right: 3px"></i>
                <span data-value="@Model.Published" class="timeStampValue">
                    @Model.Published
                </span>
            </section>
            <section>
                <i class="fa fa-edit"></i>
                <span>
                 Publised By :  @Model.AuthorName
                </span>

            </section>
            <hr>
            <div class="main-content">
                <p class="card-text text-justify">
                    @Model.Content
                </p>

            </div>
        </div>
    </div>
</div>