@model PostDto
@{
    ViewData["Title"] = "Post Blog Page";
}
@if (Model != null)
{
    <div class="container">
        <div class="card h-100 w-100">
            <div class="card-body rounded-bottom">
                <div class="Heading">
                    <a href="@Url.Action("GetPost", "Post", new { slug = Model.Slug })">@Model.Topic</a>
                </div>
                <section class="card-text text-muted" style="font-family: Lora, serif">
                    <span class="fa fa-thumbtack" style="margin-right: 3px"></span>
                    Published On:
                    <i class="fa fa-calendar" style="margin-right: 3px"></i>
                    <span data-value="@Model.Published" class="timeStampValue">
                        @Model.Published
                    </span>
                </section>
                <section>
                    <i class="fa fa-edit"></i>
                    <span>
                        Publised By :  @Model.AuthorName
                    </span>
                </section>
                <hr>              
                    
               <markdown markdown="Content" />
                  
              
                <div class="main-content">
                    @Model.Content
                </div>
            </div>
        </div>
    </div>
}