@model PostDto


@{ 
   ViewData["Title"] = "Blog Details";
}

<div class="container">
    <h3 class="post-detail-header">
        <span>@Model.Topic</span>
    </h3>
    <div class="post-authorname">
        <span>Published By: @Model.AuthorName</span>
        <span class="timeStampValue" data-value="@Model.Published">Published Date: @Model.Published</span>
    </div>    

    <markdown markdown="Content" />       

    <div class="main-content">
        @Model.Content
    </div>

</div>
